/* BUTTON VARIANTS STYLES START */
.button__variant-solid {
    color: #FFFFFF;
    background-color: #3182CE;
    border-color: #3182CE;
    cursor: pointer;
}

.button__variant-solid:hover {
    background-color: #0d7bc9;
}

.button__variant-outline {
    color: #3182CE;
    background-color: transparent;
    border-color: #3182CE;
}

.button__variant-outline:hover {
    background-color: #e3e9fc;
}

.button__variant-ghost {
    background-color: transparent;
    color: #3182CE;
}

.button__variant-ghost:hover {
    background-color: #e3e9fc;
}

.button__variant-link {
    background-color: transparent;
    color: #3182CE;
}

.button__variant-link:hover {
    text-decoration: underline;
}
/* BUTTON VARIANTS STYLES END */
