/* BUTTON VARIANT SOLID COLORSCHEME STYLES START */
.button__variant-solid-linkedin {
    color: #FFFFFF;
    background-color: #00A0DC;
    border-color: #00A0DC;
}

.button__variant-solid-facebook {
    color: #FFFFFF;
    background-color: #385898;
    border-color: #385898;
}

.button__variant-solid-messenger {
    color: #FFFFFF;
    background-color: #0078FF;
    border-color: #0078FF;
}

.button__variant-solid-whatsapp {
    color: #FFFFFF;
    background-color: #22C35E;
    border-color: #22C35E;
}

.button__variant-solid-twitter {
    color: #FFFFFF;
    background-color: #1DA1F2;
    border-color: #1DA1F2;
}

.button__variant-solid-telegram {
    color: #FFFFFF;
    background-color: #0088CC;
    border-color: #0088CC;
}
/* BUTTON VARIANT SOLID COLORSCHEME STYLES END */

/* BUTTON VARIANT OUTLINE COLORSCHEME STYLES START */
.button__variant-outline-linkedin {
    color: #00A0DC;
    border-color: #00A0DC;
}

.button__variant-outline-facebook {
    color: #385898;
    border-color: #385898;
}

.button__variant-outline-messenger {
    color: #0078FF;
    border-color: #0078FF;
}

.button__variant-outline-whatsapp {
    color: #22C35E;
    border-color: #22C35E;
}

.button__variant-outline-twitter {
    color: #1DA1F2;
    border-color: #1DA1F2;
}

.button__variant-outline-telegram {
    color: #0088CC;
    border-color: #0088CC;
}
/* BUTTON VARIANT OUTLINE COLORSCHEME STYLES END */

/* BUTTON VARIANT GHOST COLORSCHEME STYLES START */
.button__variant-ghost-linkedin {
    color: #00A0DC;
}

.button__variant-ghost-facebook {
    color: #385898;
}

.button__variant-ghost-messenger {
    color: #0078FF;
}

.button__variant-ghost-whatsapp {
    color: #22C35E;
}

.button__variant-ghost-twitter {
    color: #1DA1F2;
}

.button__variant-ghost-telegram {
    color: #0088CC;
}
/* BUTTON VARIANT GHOST COLORSCHEME STYLES END */

/* BUTTON VARIANT LINK COLORSCHEME STYLES START */
.button__variant-link-linkedin {
    color: #00A0DC;
}

.button__variant-link-facebook {
    color: #385898;
}

.button__variant-link-messenger {
    color: #0078FF;
}

.button__variant-link-whatsapp {
    color: #22C35E;
}

.button__variant-link-twitter {
    color: #1DA1F2;
}

.button__variant-link-telegram {
    color: #0088CC;
}
/* BUTTON VARIANT LINK COLORSCHEME STYLES END */
